a.login {
  padding: 10px;
  display: inline-block;
  font-size: 10pt;
  text-decoration: none;
  color: #000;
}

.login:hover {
  color: #fff;
}

@media (max-width: 750px) {
  a.login {
    padding: 24px 10px 23px;
  }
}
